body{
    background-color: rgba(33, 218, 218, 0.925);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.caixinha{

    background-color: rgb(0, 255, 255);
    padding: 2px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10;
    width: 300px;
}

input{
    padding: 10px;
    width: 70px;

}

button{
   padding: 10px;
   cursor: pointer
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li button{
    background-color: red;
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
